<html>
<head>
</head>
<body>
<div>
    <h1> Welcome to your Login securer. </h1>
    <h2> Your initial key is 'ADMIN'. Please change your key after your first login. </h2>

    <form method="POST" action="/changeAdmin">
        <label for="oldKey">Enter Your Old Key : </label>
        <input type="text" id="oldKey" name="oldKey" value="" required><br><br>

        <label for="newKey">Enter Your New Key : </label>
        <input type="password" id="newKey" name="newKey" value="" required><br><br>
        <input type="submit" value="Change my Key">

        <h3> {{TemplateAdminMessage}} </h3>
    </form>

    <br>
</div>


<div>
    <h2> Select a number range between 15 - 20 to generate your password, a secure password will be generated</h2>
    <form method="POST" action="/genPassword">
        <select name="numberSelector" id="numberSelector" class="box">
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>

        <button>Generate the password</button>
        <h3> Generated password is : {{TemplateGeneratedPassword}} </h3>
        <br>
    </form>
</div>

<div>
    <h2> Store your Logins : </h2>
    <form method="POST" action="/storePassword">
        <label for="webpage">Your Webpage : </label>
        <input type="text" id="webpage" name="webpage" value="" required><br><br>

        <label for="loginid">Your Login ID : </label>
        <input type="text" id="loginid" name="loginid" value="" required><br><br>

        <label for="password">Your Password : </label>
        <input type="password" id="password" name="password" value="" required><br><br>

        <input type="submit" value="Store my login">

        <h3> {{TemplateErrorMessage}} </h3>
        <br>
    </form>
</div>

<div>
    <h2> Get your Login : </h2>
    <form method="POST" action="/getPassword">
        <label for="getwebpage">Enter Your Webpage : </label>
        <input type="text" id="getwebpage" name="getwebpage" value="" required><br><br>

        <label for="getkey">Enter Your Key : </label>
        <input type="password" id="getkey" name="getkey" value="" required><br><br>
        <input type="submit" value="Get my login">

        <h3> {{TemplatePasswordMessage}} </h3>
        <br>
    </form>
</div>

<div>
    <h2> Delete your Login : </h2>
    <form method="POST" action="/deletePassword">
        <label for="deletewebpage">Enter Your Webpage : </label>
        <input type="text" id="deletewebpage" name="deletewebpage" value="" required><br><br>

        <label for="deletekey">Enter Your Key : </label>
        <input type="password" id="deletekey" name="deletekey" value="" required><br><br>
        <input type="submit" value="Delete my login">

        <h3> {{TemplatePasswordDeleted}} </h3>
        <br>
    </form>
</div>

</body>


</html>